body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(13, 14, 36);
}
.main{
    width: 300px;
    height: 600px;
    background-color: rgb(13, 3, 54);
    overflow-y: scroll;
    border: 1px dashed #fff;
}
.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    
}
.box{
    width: 200px;
    height: 250px;
    background-color: rgb(18, 129, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

/*============scrollbar=========*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: none;
}
::-webkit-scrollbar-thumb{
    background-color: tomato;
}
/*============scrollbar=========*/

.main2{
    margin-left: 20px;
    width: 300px;
    height: 600px;
    background-color: rgb(13, 3, 54);
    overflow-x: scroll;
    position: relative;
    border: 1px dashed #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2{
    width: 400px;
    height: 100px;
    background-color: rgb(18, 129, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    column-gap: 10px;
}
.boxes{
    width: 50px;
    height: 50px;
    background-color: rgb(78, 77, 78);
    border-radius: 50%;
}
::-webkit-scrollbar{
    height: 7px;
}
